Repository steno-aarhus/research, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lwjohnst86, @tinnelaurberg, @danielibsen, @AlisaDK, @omarsilverman, @lassebjerg

.github/CODEOWNERS:

# Codeowners for these files will be automatically added as reviewers to
# PRs that affect these files.

* @lwjohnst86

# This is the list of files and those responsible for them.

onboarding.Rmd @tinnelaurberg @danielibsen
CONDUCT.Rmd @AlisaDK @lwjohnst86
data-analysis.Rmd @omarsilverman @lassebjerg
general-organization.Rmd @AlisaDK

Good enough practices in scientific computing
  _support/data-analysis/data-analysis.Rmd
Owners: @omarsilverman, @lassebjerg

Flowchart to get coding help
  _support/data-analysis/Flowchart_where_to_get_help.jpg
Owners: @lwjohnst86

Added flowchart where to get coding help
  _support/data-analysis/data-analysis.Rmd
Owners: @omarsilverman, @lassebjerg

Added link for "The Turing way"
  _support/data-analysis/data-analysis.Rmd
Owners: @omarsilverman, @lassebjerg

only action on main
  .github/workflows/tic.yml
Owners: @lwjohnst86

Updated onboarding with table for general introduction to employees from GoogleSheet.
  DESCRIPTION
  _onboarding/getting-started/getting-started.Rmd
Owners: @lwjohnst86

Updated onboarding. Removed NA from Table.
  _onboarding/getting-started/getting-started.Rmd
  _onboarding/getting-started/getting-started.html
  _onboarding/getting-started/getting-started_files/header-attrs-2.9/header-attrs.js
Owners: @lwjohnst86

update
  _onboarding/getting-started/getting-started_files/jquery-1.11.3/jquery.min.js
Owners: @lwjohnst86

start of admin functions
  R/functions.R
Owners: @lwjohnst86

code to create small images of researchers
  R/functions.R
Owners: @lwjohnst86

start of adding how to use RStudio to contribute
  CONTRIBUTING.Rmd
Owners: @lwjohnst86

minor reformatting and generating html file
  _support/data-analysis/data-analysis.Rmd
  _support/data-analysis/data-analysis.html
  _support/data-analysis/data-analysis_files/anchor-4.2.2/anchor.min.js
  _support/data-analysis/data-analysis_files/bowser-1.9.3/bowser.min.js
  _support/data-analysis/data-analysis_files/distill-2.2.21/template.v2.js
  _support/data-analysis/data-analysis_files/header-attrs-2.11.3/header-attrs.js
  _support/data-analysis/data-analysis_files/jquery-3.6.0/jquery-3.6.0.js
  _support/data-analysis/data-analysis_files/jquery-3.6.0/jquery-3.6.0.min.js
  _support/data-analysis/data-analysis_files/jquery-3.6.0/jquery-3.6.0.min.map
  _support/data-analysis/data-analysis_files/popper-2.6.0/popper.min.js
  _support/data-analysis/data-analysis_files/tippy-6.2.7/tippy-bundle.umd.min.js
  _support/data-analysis/data-analysis_files/tippy-6.2.7/tippy-light-border.css
  _support/data-analysis/data-analysis_files/tippy-6.2.7/tippy.css
  _support/data-analysis/data-analysis_files/tippy-6.2.7/tippy.umd.min.js
  _support/data-analysis/data-analysis_files/webcomponents-2.0.0/webcomponents.js
  _support/data-analysis/flowchart-getting-help.jpg
Owners: @omarsilverman, @lassebjerg, @lwjohnst86

split information out into individual tables with separate headers
  _onboarding/getting-started/getting-started.Rmd
  _onboarding/getting-started/getting-started.html
Owners: @lwjohnst86

rename conduct to md file
  CODE_OF_CONDUCT.md
Owners: @lwjohnst86

don't need anymore
  _footer.html
Owners: @lwjohnst86

starting to switch over to quarto
  research.Rproj
Owners: @lwjohnst86

rename post files to index md or Rmd
  onboarding/general-conduct/index.md
  onboarding/getting-started/index.Rmd
  organization/research-groups/index.md
  organization/sdca-management/index.md
  support/data-analysis/index.md
  support/funding-application/index.md
  support/requesting-data/index.md
  support/running-meetings/index.md
  support/study-setup/index.md
Owners: @lwjohnst86

convert files over to make use of quarto
  .gitignore
  CODE_OF_CONDUCT.md
  includes/_wip.md
  includes/contribute.html
  includes/disclaimer.Rmd
  onboarding.Rmd
  onboarding.md
  onboarding/general-conduct/index.md
  onboarding/getting-started/index.Rmd
  organization.Rmd
  organization.md
  organization/research-groups/index.md
  organization/sdca-management/index.md
  research.Rproj
  support.Rmd
  support.md
  support/data-analysis/index.md
  support/funding-application/index.md
  support/requesting-data/index.md
  support/running-meetings/index.md
  support/study-setup/index.md
Owners: @lwjohnst86, @tinnelaurberg, @danielibsen
