Repository steno-aarhus/research, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lwjohnst86, @tinnelaurberg, @danielibsen, @AlisaDK, @omarsilverman, @lassebjerg

Update onboarding.Rmd
  onboarding.Rmd
Owners: @tinnelaurberg, @danielibsen

images as files rather than urls
  images/sdca-management-structure.jpg
  images/sdca-research-groups.jpg
  onboarding.Rmd
Owners: @lwjohnst86, @tinnelaurberg, @danielibsen

fix author header
  onboarding.Rmd
Owners: @tinnelaurberg, @danielibsen

Create meetings.Rmd
  meetings.Rmd
Owners: @lwjohnst86

made a new file for general conduct
  general-conduct.Rmd
Owners: @lwjohnst86

this file is for contributor conduct
  CONDUCT.Rmd
Owners: @AlisaDK, @lwjohnst86

add templates menu to navbar
  _site.yml
Owners: @lwjohnst86

rename file to use dashes vs underscore and to be shorter
  setup-studies.Rmd
Owners: @lwjohnst86

general formatting fixes and minor edits
  setup-studies.Rmd
Owners: @lwjohnst86

add a comment
  setup-studies.Rmd
Owners: @lwjohnst86

Update general-conduct.Rmd
  general-conduct.Rmd
Owners: @lwjohnst86

remove about, since it will be on home page
  _site.yml
  about.Rmd
Owners: @lwjohnst86

tinkering with landing page details
  _footer.html
  images/banner.png
  images/icons/www.png
  index.Rmd
  theme.css
Owners: @lwjohnst86

add disclaimer section
  includes/disclaimer.Rmd
  index.Rmd
  theme.css
Owners: @lwjohnst86

ignore this folder
  .gitignore
Owners: @lwjohnst86

add disclaimer to setting up studies, plus add to menu
  _site.yml
  setup-studies.Rmd
Owners: @lwjohnst86

rename file
  general-meetings.Rmd
Owners: @lwjohnst86

minor formatting fixes
  general-meetings.Rmd
Owners: @lwjohnst86

add to navbar
  _site.yml
Owners: @lwjohnst86

add sdca banner to title section. Linked to #30
  images/banner-transparent.png
  theme.css
Owners: @lwjohnst86

add a common script, for inserting icons.
  _common.R
  _site.yml
Owners: @lwjohnst86

links to sdca and twitter
  _site.yml
Owners: @lwjohnst86

set to exact colour for theme
  theme.css
Owners: @lwjohnst86

icon links css
  theme.css
Owners: @lwjohnst86

use FA for CC-BY
  _footer.html
Owners: @lwjohnst86

imports for htmltools
  DESCRIPTION
Owners: @lwjohnst86

start adding purpose and about
  index.Rmd
Owners: @lwjohnst86

start of the landing page. Closes #30
  index.Rmd
Owners: @lwjohnst86

Apply suggestions from code review
  general-conduct.Rmd
Owners: @lwjohnst86

major reorganization
  _onboarding/general-conduct/general-conduct.Rmd
  _onboarding/getting-started/getting-started.Rmd
  _site.yml
  _support/data-analysis/data-analysis.Rmd
  _support/funding-application/funding.Rmd
  _support/requesting-data/requesting-data.Rmd
  _support/running-meetings/running-meetings.Rmd
  _support/study-setup/study-setup.Rmd
  data-analysis.Rmd
  data-applications.Rmd
  funding-applications.Rmd
  general-organization.Rmd
  onboarding.Rmd
  support.Rmd
Owners: @lwjohnst86, @omarsilverman, @lassebjerg, @AlisaDK, @tinnelaurberg, @danielibsen

moved sdca management into own file
  _onboarding/getting-started/getting-started.Rmd
  _organization/research-groups/research-groups.Rmd
  _organization/sdca-management/sdca-management.Rmd
  _site.yml
  organization.Rmd
Owners: @lwjohnst86

don't need this
  _onboarding/getting-started/getting-started.Rmd
Owners: @lwjohnst86

moved research groups over into own file
  _onboarding/getting-started/getting-started.Rmd
  _organization/research-groups/research-groups.Rmd
Owners: @lwjohnst86

update link to image
  _organization/sdca-management/sdca-management.Rmd
Owners: @lwjohnst86

remove extra line
  _common.R
Owners: @lwjohnst86

add details and my dst application to data access
  _support/requesting-data/requesting-data.Rmd
  _support/requesting-data/requesting-data.html
  _support/requesting-data/requesting-data_files/anchor-4.2.2/anchor.min.js
  _support/requesting-data/requesting-data_files/bowser-1.9.3/bowser.min.js
  _support/requesting-data/requesting-data_files/distill-2.2.21/template.v2.js
  _support/requesting-data/requesting-data_files/header-attrs-2.11.3/header-attrs.js
  _support/requesting-data/requesting-data_files/jquery-3.6.0/jquery-3.6.0.js
  _support/requesting-data/requesting-data_files/jquery-3.6.0/jquery-3.6.0.min.js
  _support/requesting-data/requesting-data_files/jquery-3.6.0/jquery-3.6.0.min.map
  _support/requesting-data/requesting-data_files/popper-2.6.0/popper.min.js
  _support/requesting-data/requesting-data_files/tippy-6.2.7/tippy-bundle.umd.min.js
  _support/requesting-data/requesting-data_files/tippy-6.2.7/tippy-light-border.css
  _support/requesting-data/requesting-data_files/tippy-6.2.7/tippy.css
  _support/requesting-data/requesting-data_files/tippy-6.2.7/tippy.umd.min.js
  _support/requesting-data/requesting-data_files/webcomponents-2.0.0/webcomponents.js
Owners: @lwjohnst86

add nicer fonts
  theme.css
Owners: @lwjohnst86

this might fix the building
  .github/workflows/tic.yml
Owners: @lwjohnst86

update tic action to try to fix build
  .github/workflows/tic.yml
Owners: @lwjohnst86

add some emoji to disclaimer
  includes/disclaimer.Rmd
Owners: @lwjohnst86

.github/CODEOWNERS:

# Codeowners for these files will be automatically added as reviewers to
# PRs that affect these files.

* @lwjohnst86

# This is the list of files and those responsible for them.

onboarding.Rmd @tinnelaurberg @danielibsen
CONDUCT.Rmd @AlisaDK @lwjohnst86
data-analysis.Rmd @omarsilverman @lassebjerg
general-organization.Rmd @AlisaDK
